<!DOCTYPE html>
<html lang="en">
<head>
    <title>Justen Sims - AI Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
    <ul>
        <li><a href="{{ url_for('pages.home') }}" {% if active == 'home' %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ url_for('pages.about') }}" {% if active == 'about' %}class="active"{% endif %}>About</a></li>
        <li><a href="{{ url_for('pages.contact') }}" {% if active == 'contact' %}class="active"{% endif %}>Contact</a></li>
        <li><a href="{{ url_for('pages.projects') }}" {% if active == 'projects' %}class="active"{% endif %}>Projects</a></li>
    </ul>
    </nav>

    <main>
        <h1>Justen Sims</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>